/* COLORS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  color: #333333;
  line-height: 1.2; }

.accordion {
  margin: 1.5rem 0;
  overflow-x: auto;
  padding: 0 1.8rem; }
  .accordion__item {
    margin: 1.5rem 0; }
    .accordion__item input {
      display: none; }
      .accordion__item input:checked ~ .accordion__text {
        height: 10rem; }
      .accordion__item input:checked ~ .accordion__label .accordion__icon {
        transform: rotate(180deg); }
  .accordion__label {
    display: flex;
    font-size: 1.4rem;
    height: 2.5rem;
    width: 100%;
    background-color: #7798A6;
    color: #FFFFFF;
    align-items: center;
    padding: 0 2rem; }
  .accordion__text {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease-in-out; }
  .accordion__input {
    resize: none;
    height: 10rem;
    width: 100%; }
  .accordion__icon {
    margin-left: auto;
    height: 2rem;
    width: 2rem;
    fill: #FFFFFF;
    transition: all .3s ease-in-out; }

.app-nav {
  display: flex;
  fill: #999999; }
  .app-nav__icon-box {
    align-items: center;
    display: flex;
    height: 2.5rem;
    width: 2.5rem; }
    .app-nav__icon-box:not(:last-child) {
      margin-right: 1.5rem; }
    .app-nav__icon-box:hover {
      cursor: pointer;
      color: #505050;
      fill: #505050; }
    .app-nav__icon-box--invert {
      fill: #FFFFFF;
      background-color: #7798A6; }
      .app-nav__icon-box--invert:hover {
        color: #505050; }
  .app-nav__icon {
    height: 2rem;
    width: 2rem;
    fill: inherit;
    margin: 0 auto; }
    .app-nav__icon--small {
      height: 2rem;
      width: 2rem; }

.column {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-radius: 1rem;
  flex-shrink: 0;
  padding: .8rem 2rem;
  width: 40rem; }
  .column__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ebe8e2; }
  .column__question {
    font-size: 1.6rem;
    padding: 0 1.8rem; }

.column-header {
  align-items: center;
  border: 1px solid #666666;
  color: #666666;
  display: flex;
  flex-shrink: 0;
  height: 4rem;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  position: relative; }
  .column-header__icon {
    width: 3rem;
    height: 2rem;
    fill: #666666; }
  .column-header__text {
    font-size: 1.6rem;
    margin-right: auto;
    font-weight: 700; }
  .column-header:after, .column-header:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid; }
  .column-header:after {
    left: 2.1rem;
    border-color: #fff transparent transparent transparent;
    border-width: 1.1rem; }
  .column-header:before {
    left: 2rem;
    border-color: #666666 transparent transparent transparent;
    border-width: 1.2rem; }

.comments-form {
  padding: 0 2rem;
  margin-top: auto; }
  .comments-form__label {
    display: block;
    font-size: 1.6rem;
    margin-bottom: .5rem; }
  .comments-form__comments {
    font-family: "Georgia", serif;
    font-size: 1.4rem;
    width: calc(100% - 1.7rem);
    resize: none;
    margin-left: 1.7rem;
    border: none;
    height: 5rem; }
    .comments-form__comments:focus {
      outline-color: #333333; }

.info-box__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 300; }

.info-box__progress-bar {
  width: 50rem;
  height: .5rem;
  background-color: #cccccc;
  border-radius: 1000px;
  position: relative; }
  .info-box__progress-bar::after {
    content: "";
    width: 25rem;
    height: .5rem;
    background-color: #7798A6;
    position: absolute;
    border-radius: 1000px;
    top: 0px;
    left: 0px; }

.logo {
  height: 3rem;
  margin-right: 6rem; }

.app {
  height: 100vh;
  display: flex;
  flex-direction: column; }

.header {
  display: flex;
  padding: 1rem 2.5rem;
  align-items: flex-end;
  justify-content: space-between; }

.main-content {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  padding: 0 2.1rem; }

.footer {
  height: 3.5rem;
  display: flex;
  border-top: 0.3rem solid #7798A6; }
  .footer div:not(:last-child) {
    border-right: 0.3rem solid #7798A6; }
  .footer__box {
    align-items: center;
    cursor: pointer;
    display: flex;
    fill: #333333;
    font-size: 1.6rem;
    font-weight: 900;
    justify-content: center;
    text-transform: uppercase;
    width: 26.5%; }
    .footer__box--alt {
      background-color: #7798A6;
      color: white;
      fill: white;
      font-size: 1.6rem;
      font-weight: 700;
      width: 20.5%; }
  .footer__icon {
    height: 3.1rem;
    width: 2rem; }
    .footer__icon--alt {
      height: 1.6rem;
      width: 1.6rem;
      margin-top: -2px; }
  .footer__text--margin {
    margin-left: 1.6rem; }
  .footer__text--light-gray {
    color: #999999; }
