.info-box{

    &__title{
        margin-bottom:1rem;
        font-size: 2rem;
        font-weight: 300;
    }

    &__progress-bar{
        width:50rem;
        height:.5rem;
        background-color:$gray-light;
        border-radius: 1000px;
        position:relative;

        @include respond(tab-land) { // width < 1200?
            width:40rem;
        }
    
        &::after{
            content:"";
            width:25rem;
            height:.5rem;
            background-color:$brand-primary;
            position: absolute;
            border-radius:1000px;
            top:0px;
            left:0px;

            @include respond(tab-land) { // width < 1200?
                width:20rem;
            }
        }
    
    }

}